<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出错啦！！！</title>
</head>
<style>
    body{margin: 0 auto;}
    h1{color: red;}
</style>
<body>
    <h1>出错了</h1>
    <h3>错误信息: <%= errMsg %></h3>
    <img src="/imgs/404.jpg">
</body>
</html>