<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线相册</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<style>
    body{padding-left: 20%;padding-right: 20%;}
    h1{color: skyblue;text-align: center;text-decoration: underline;}
    .allDir{width: 100%;display: flex;justify-content: space-between;flex-wrap: wrap;}
    .dir{width: 30%;text-align: center;}
    img{width: 100%;}
    h4{text-align: center;}
</style>
<body>
    <h1>在线相册</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">相册</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false"
                style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/dir/mkdir">新建相册</a></li>
                    <li><a href="/pic/upload">上传图片</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="allDir">
        <% for(var i=0;i<dirs.length;i++){ %>
        <div class="dir">
            <a href="/pic/show?dirName=<%= dirs[i] %>">
                <img src="/imgs/dir.jpg">
                <h4><%= dirs[i] %></h4>
            </a>
            <a href="javascript:;" onclick="send(this)">删除</a>
        </div>
        <% } %>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <script>
        function send(i){
            var dirName = $(i).prev().find('h4').html();
            var res = confirm('确定删除相册:'+dirName+'吗？');
            if(!res){// 点击取消,不删除
                return ;
            }
            // 点击确定,删除相册,发送请求给后台
            $.ajax({
                url:'/dir/delete?dirName='+dirName,
                success:function(result){
                    alert(result.msg);
                    if(result.status==0){
                        // 删除成功
                        // location.href = '/'
                        $(i).parent().remove();
                    }
                }
            })
        }
    </script>
</body>

</html>