<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<style>
    body{padding-left: 20%;padding-right: 20%;}
    h1{color: skyblue;text-align: center;text-decoration: underline;}
    .pics{width: 100%;display: flex;justify-content: space-between;flex-wrap: wrap;}
    .pic{width: 30%;margin: 10px;}
    img{width: 100%;}
</style>
<body>
    <h1>在线相册</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">相册</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false"
                style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/dir/mkdir">新建相册</a></li>
                    <li><a href="/pic/upload">上传图片</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="pics">
    <% for(var i=0;i<pics.length;i++){ %>
    <div class="pic">
        <img src="/<%= pics[i].dir %>/<%= pics[i].name %>">
    </div>
    <% } %>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>