<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<style>
    body{padding-left: 20%;padding-right: 20%;}
    h1{color: skyblue;text-align: center;text-decoration: underline;}
    .upload{padding: 0 10%;}
    h2{color: slategrey;}
    .form-group{margin-top: 20px;}
</style>
<body>
    <h1>在线相册</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">相册</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false"
                style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/dir/mkdir">新建相册</a></li>
                    <li><a href="/pic/upload">上传图片</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="upload">
        <h2>上传图片</h2>
        <form action="/pic/upload" method="POST" enctype="multipart/form-data">
            <h4>请选择相册</h4>
            <select name="dirName" class="form-control">
                <% for(var i=0;i<dirs.length;i++){ %>
                <option value="<%= dirs[i].name %>"><%= dirs[i].name %></option>
                <% } %>
            </select>
            <div class="form-group">
                <label for="exampleInputFile">请选择图片</label>
                <input type="file" id="exampleInputFile" name="pic">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info col-xs-4 col-xs-offset-4">
            </div>
            
        </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>